
<h1 class= "text-center">Manage your booking</h1>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <%= render 'au_pairs/card', aupair: booking.au_pair %>
    <% end %>
  </div>
</div>
