<h1>About Au pair Australia</h1>

<p>Au pair Australia is an Australian Business with overseas representation in Europe and a local agency in Spain, with the aim to locate and place overseas Au Pairs in Australia. The owner of the business Au Pair Australia, Miryam Aubert has been an au pair herself at some stage of her life and besides her Au pair experience, she has previously employed au pairs and nannies. "As a mother of a 4 year old, I know it is so important to find the right candidate for our children, and on another hand we understand our Au pair's dreams and fears travelling to a foreign country "</p>

Our team is based in Australia and Europe, We therefore understand different points of view, and speak many languages such as French, Spanish and English, to locate and place au pairs with families in Australia

Our client's safety, happiness, comfort and satisfaction are our main goals.

To help Au pairs find a suitable family, it is imperative Au pairs meet the following criteria:

-Experience- Previous childcare experience, (as a babysitter or nanny) with references
-Take our FREE Online Au pair Course to ensure she understands the importance of this commitment to you and the work involved.
-Age- Be between 18 to 29 years old.
-Provide a criminal background check
-Make a 6 month commitment
-Sign the Au pair behavior agreement

Families can mention any preferences about nationality, (if any), Au Pair's age, driving and swimming skills. Our team will then do the best to find the right Au Pair match for you.

Nowadays childcare has become expensive, in Australia more than other countries, and mums need help with their children in their busy life to manage family and career, therefore, an Au pair that both takes care of the children and do light house work is highly valued !
