<h1>Why Become a Host family?</h1>

<p>Is reconciling family life with serenity and professional life, while enriching your family from a cultural experience perspective It can be a great experience to be exposed to a new culture and language.Read more about the benefits for families.</p>

<h2>The way we work</h2>

<p>Every effort is made to match an applicant to a family. The needs of the family and the experience and personality of the applicant are taken into consideration. Our agency does its very best to present an applicant that will most likely fit with the host family's requirements and lifestyle. We do not waste your time presenting applicants who would not be suitable.</p>

<p>We do check their criminal records overseas, before accepting them. We provide them information to get the visa and they also go through an interview with the family before confirming the placement. Our agency has years of experience of placing top European, American, British and Canadian girls with good language skills, which means that we can offer you and your family access to the finest candidates.</p>

<p>We offer a comprehensive service and give continued support throughout the placement. We also offer an on-line course that we recommend them to undertake to ensure better knowledge and understanding of child minding.</p>

<h2>What distinguishes us from our competitors?</h2>

<p>No registration fees or deposits! The placement fee is only payable upon confirmation of a placement, We do not oblige you to remain with us by charging you a booking fee
No extra payments if you need a driver, native English speaker. Unlike other agencies, our placement fee is a one off payment
We are the only Au pair agency in Australia offering an Online Aupair Course to your au pair before arriving to Australia, with information about security measures taking care of children, discipline, lunch preparation, etc. Have a look here . We have candidates from Canada, USA, UK, France, Italy, Norway, Germany and many other countries....
Our agency is run as a family business, which means that we stand out by our personal and customised service.
Our candidates have police clearance, childcare references and most of them a current first aid certificate</p>

