<h1 class= "text-center">Listing of your search</h1>

<div class="container">
  <div class="row">
    <% @aupairs.each do |aupair| %>
      <%= render 'au_pairs/card', aupair: aupair %>
    <% end %>
  </div>
</div>
