
<div class="container footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="share-links">
        <a href="#" class="share-link bg-facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-link bg-twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="share-link bg-email">
          <i class="fa fa-envelope-o"></i>
        </a>
        <a href="#" class="share-link bg-text">
          <i class="fa fa-mobile"></i>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="address">
        <p> Address</p>
        <p>BUTRFLY Pty Ltd</p>
        <p> 23rd Paradise Road</p>
        <p> South Atoll, Dhidhoofinolhu </p>
        <p> MALDIVES</p>
      </div>
    </div>
  </div>
</div>


